.title {
    max-width: 20%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.export {
    width: 300px;
}

.exportOptions {
    display: flex;
    flex-direction: row;
}
.exportOptions button {
    height: 115px;
    line-height: 1.4 !important;
}
.exportOptions button svg {
    width: 55px;
}

.infoContainer {
    width: 330px;
    margin: 0 -15px -10px;
}

.infoPane {
    padding: 15px;
}

.infoContainer :global(.ui.attached.tabular.menu) {
    padding: 0 10px;
}
