.export {
    width: 300px;
}

.exportOptions {
    display: flex;
    flex-direction: row;
}
.exportOption {
    flex: 0;
    min-width: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
}
.sizeForm {
    width: 200px;
    margin: auto;
    text-align: center;
}
.sizeForm > :global(.ui.input) {
    margin: 10px 0;
}
