.export {
    width: 300px;
}

.exportOptions {
    display: flex;
    flex-direction: row;
}
.exportOptions button {
    height: 115px;
    line-height: 1.4 !important;
}
.exportOptions button svg {
    width: 55px;
}
