.headerLayoutContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-rows: 60px 1fr;
}

.content {
    position: relative;
}

.layoutWithSidebar {
    display: flex;
    overflow: hidden;
}

.sidebar {
    flex: 0 0;
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid var(--silver);
    box-sizing: border-box;
}

.sidebarWithPadding {
    composes: sidebar;
    padding: 20px;
}
