.upload {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.upload input {
    display: none;
}

.text {
    font-size: 24px;
    line-height: 1.5;
    color: var(--dark-grey);
}

.errorMessage {
    color: #a00;
    padding: 50px;
}
