.sizeForm {
    text-align: center;
    position: relative;
}

.sizeForm > div > :global(.ui.input:first-child) {
    margin: 0 0 15px;
}

.sizeContainer {
}

.lockContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lockContainer :global(button.ui.icon.basic.circular) {
    background-color: white !important;
}
