.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.libraryItem {
    width: 200px;
    height: 300px;
    margin: 15px;
    border: 1px solid var(--silver);
    text-align: center;
    text-decoration: none;
    color: var(--black);
    line-height: 1.4;
    border-radius: 3px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    background-color: var(--light-grey);
}
.libraryItem .imageContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 265px;
}
.libraryItem img {
    display: block;
    max-width: 90%;
    max-height: 90%;
}
.libraryItem .label {
    flex: 0;
    padding: 5px;
}

.addItem {
    composes: libraryItem;
    position: relative;
    background-color: var(--light-grey);
}
.addItem a {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--black);
}
